.Health {
    opacity: 1;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    -unity-text-align: upper-right;
    -unity-text-outline-color: rgba(255, 255, 255, 0);
}

.Point {
    -unity-text-outline-color: rgba(255, 255, 255, 0);
}

.Wave {
    -unity-text-outline-color: rgba(255, 255, 255, 0);
}

.EnemiesLeft {
    -unity-text-outline-color: rgba(255, 255, 255, 0);
}
